 
  
  #product-overview {
    background-image: linear-gradient(to top, rgba(218, 191, 75, 0.3) 40%, transparent), url("pic1.jpg");

    width: 100vw;
    height: 40vh;
    padding: 0.6rem;
    background-size: cover;
    margin-bottom: 3rem ;
    position: relative;
  }

  #product-overview h1 {
    color: white;
    margin-top: 4.1rem;
    font-size: 1.8rem;
    position: absolute;
    bottom: 5%;
    left: 3%;
    overflow: hidden;
  }

  

  .plan {
    background: rgb(126, 233, 126);
    text-align: center;
    width: 100%; 
 
    padding: 0.6rem;
    margin:1.6rem 0rem;
  
}

  .section-title {
    color:rgb(43, 180, 43);
    text-align:center;
    font-weight: bold;
    font-size: 2rem;
}

.plans__prefer {
  /* box-shadow: 4px 4px 6px teal; */
  position: relative;
}

/* .plan__list {
  text-align: center;
  margin: auto;
  width: 100%;
}   */

.recommend {
background:white;
color:rgb(43, 180, 43);
padding:0.3rem 1rem;
margin: 0.5rem 5rem;
font-weight: 100;
border-radius: 10px;
font-size: 1.2rem;
}


  article h1 {
      font-size: 1.5rem;
      padding: 0.9rem;
  }

  article > h2 {
      color:grey;
      padding: 0.8rem;
  }

  article h3 {
      padding: 0.7rem;

  }

  .service__items {
      
    margin-top: 1.2rem;
  }

  .service__items li {
    list-style: none;
    padding:0.6rem 0;
  }

 
  
  .btn-choose {
      color: white;
      background:rgb(18, 167, 18);
      padding: 0.6rem 1.2rem;
      border-radius: 10px;
      border: none;
      margin: 1.2rem 0px; 
      font-weight: bold;
      font-size: 1.1rem;
    
  }

  .btn-choose:hover {
      background: white;
      color: rgb(18, 167, 18);
      cursor: pointer;
  }

  .btn-choose:focus {
      outline: none;
  }
  
  
  #key-features {
    background: rgb(231, 35, 28);
  }

  #key-features .section-title {
    color:white;
    padding:1.8rem;
    margin-top: 5rem;
    font-size: 1.8rem;
  }

  .feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .feature__item {
    text-align: center;
    margin: auto;
    /* display: inline-block; */
    width: 100%;
    vertical-align: top;
  }

  .feature__description {
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 1rem;

  }

  .key-feature__image {
      background: pink;
      border: 2px solid gray;
      width: 128px;
      height: 128px;
      border-radius: 50%;
      margin: auto;
      padding: 1.2rem;
  }
   

  .modal {
    position: fixed;
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 200ms ease-in-out, transform 500ms ease-in-out; 
    background: white;
    border: 1px solid white;
    padding: 2.5em;
    z-index: 200;
    top: 20%;
    left: 15%;
    width: 70%;  
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    
  }

  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1.3rem; /**/
  }

  .modal__actions {
    text-align: center;
  }

  .modal__action {
    padding: 0.5rem 1rem;
    color: white;
    background: rgb(13, 199, 13);
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgb(16, 112, 16);
  }

  .modal__action:hover,
  .modal__action:active {
    background: rgb(95, 204, 95);
    border-color:  rgb(95, 204, 95);
  }

  .modal__action--negative {
    background: red;
    border-color: 1px solid red;
  }

  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: rgb(235, 44, 44);
    border-color:  rgb(235, 44, 44);
  }


  .open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

@media (min-width: 41rem) {

  #product-overview h1{
    font-size: 2.5rem;
    overflow: hidden;
  }

  #product-overview {
    width: 100vw;
    height: 45vw;
  }

  .plan__list {
    display: flex;
    
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
  } 

  .plan {
    
    width: 30%;
    margin: 0 0.2rem;
    min-width: 13rem; 
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: space-around;
  }

  .plans__prefer {
    box-shadow: 3px 3px 10px rgb(45, 197, 39);
    height: 32rem;

  }
  
  .recommend {
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;
    margin: 0 1rem;
  }

  .section-title {
    font-size: 3rem;
  }

  #key-features .section-title {
    font-size: 2.6rem;
  }

  .feature__list {
    display: flex;
    justify-content: center;
    
  }

  .feature__item {
    
    width: 30%;
    max-width: 26rem;
  }

  .modal__title {
    font-size: 1.8rem;
  }

  .modal {
    left: 27%;
    width: 50%;
    padding: 3.5em;
  }

}

@media (min-width: 60rem) {

  .recommend {
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 2rem;
  }

  #product-overview {
    width: 100vw;
    height: 33vw;
  }

  .modal__title {
    font-size: 2.2rem;
  }

  .modal {
    left: 30%;
    width: 40%;
    padding: 4em;
   
  }

  .feature__list {
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

}

